@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #F2B749, #F28749, #D9583B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 4px #983d29c2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9583B;
    text-align: center;
    text-shadow: 1px 1px 2px #8a3825c8;
}

h2 {
    color: #024959;
    text-align: center;
}

p {

    text-align: justify;
}

