/{
    width: 100%;
}

body {
    background-color: #F1B452;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #513c1b;
}

h1#principal {
    text-align: center;
    background-color: #694F24;
    color: white;
}

h2 {
    color: #795b2a;
}

.basico{
    text-align: center;
    background-color: rgba(255, 77, 77, 0.803);
    color:white;
    margin:auto;
    width: 20%;
    padding:10px;
    border-radius: 10px;
}

.intermediario{
    text-align: center;
    background-color: rgba(65, 65, 237, 0.805);
    color: white;
}

.avancado {
    text-align: center;
    background-color: rgba(168, 65, 237, 0.805);
    color: white;
}